<html>

<head>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="app">
        <div class="menu">
            <div class="search">
                <input type="text" v-model="left.search" autofocus placeholder="..." />            
            </div>
            <div class="words">
                <div class="word" v-for="item in left.filtered" v-on:click="active = left; word = item; play(word)" v-bind:class="{ selected: item == word }">
                    <div>{{item.value}}</div>
                    <div class="star" v-if="item.fav">🌸</div>
                </div>
            </div>
        </div>
        <div id="content">
            <div v-if="word != null" id="title">
                <a id="wanikani" v-bind:href="'https://www.wanikani.com/vocabulary/' + this.word.value" target="_blank" v-if="word">
                    <img src="wk.ico" />
                </a>
                <span id="level">[{{ word.level }}]</span>
                <div v-for="meaning in word.meanings">                
                    <span>{{ meaning }}</span>
                </div>
            </div>
            <div v-if="word != null" id="main">
                <div id="word" v-on:click="fav(word)">{{ word.value }}</div>  
                <div id="word-reading">
                    <div v-on:click="play(word)">{{ word.readings[0] }}</div>
                </div>                
            </div>
            <div v-if="word != null" id="kanjis">
                <div class="kanji" v-for="kanji in word.kanjis" >
                    <div>{{ kanji.value }}</div>
                    <div class="readings">
                        <div class="onyomi">
                            <span v-for="onyomi in kanji.onyomi">
                                <span v-bind:class="{ secondary: false }" v-on:click="play(onyomi)">
                                    {{onyomi}}
                                </span>
                            </span>
                        </div>
                        <div class="kunyomi">
                            <span v-for="kunyomi in kanji.kunyomi" >
                                <span v-bind:class="{ secondary: false }" v-on:click="play(kunyomi)">
                                    {{kunyomi}}
                                </span>
                            </span>                        
                        </div>
                    </div>
                </div>
            </div>        
        </div>
        <div class="menu">
            <div class="search">
                <input type="text" v-model="right.search" style="text-align: right" placeholder="..." />            
            </div>
            <div class="words">
                <div class="word" v-for="item in right.filtered" v-on:click="active = right; word = item; play(word)" v-bind:class="{ selected: item == word }">
                    <div>{{item.value}}</div>
                    <div style="right: 0" class="star" v-if="item.fav">🌸</div>
                </div>
            </div>
        </div>
    </div>
    <script src="db.js"></script>
    <script src="index.js"></script>
</body>

        
</html>