<html>

<head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="app">
        <div id="menu">
            <div id="search">
                <input autofocus type="text" v-model="filter" />            
            </div>
            <div id="words">
                <div v-for="item in filtered" v-on:click="word = item; play();" v-bind:class="{ secondary: item.flag, selected: item == word }">
                    {{item.value}}
                </div>
            </div>
        </div>
        <div id="content" v-if="word != null">
            <div id="title">
                <span id="level">({{ word.level }})</span>
                <div v-for="meaning in word.meanings">                
                    <span>{{ meaning }}</span>
                </div>
            </div>
            <div id="main">
                <div id="word">{{word.value}}</div>  
                <div id="word-reading">
                    <div>{{ word.readings[0] }}</div>
                </div>                
            </div>
            <div id="kanjis">
                <div class="kanji" v-for="kanji in word.kanjis" >
                    <div>{{ kanji.value }}</div>
                    <div class="readings">
                        <div class="onyomi">
                            <div v-for="onyomi in kanji.onyomi">
                                <span v-bind:class="{ secondary: !onyomi.primary }" v-on:click="play(onyomi.reading)">
                                    {{onyomi.reading}}
                                </span>                                
                            </div>
                        </div>
                        <div class="kunyomi">
                            <div v-for="kunyomi in kanji.kunyomi" >
                                <span v-bind:class="{ secondary: !kunyomi.primary }" v-on:click="play(kunyomi.reading)">
                                    {{kunyomi.reading}}
                                </span>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
    <script src="index.js"></script>
</body>

        
</html>