* {
    font-family: monospace;
    background: black;
}
html {
    color: white;
}
*::selection { 
    color: black; 
    background: white;
}
::-webkit-scrollbar {
    display: none;
}
input {
    color: white;
    outline: 0;
    font-size: 2rem;
    border: none;
}
.secondary {
    color: #333;
}
.selected {
    color: black;
    background: white;
}
#app {
    position: fixed;
    left: 1rem;
    right: 1rem;
    top: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: row;
}
    #menu {
        display: flex;
        flex-direction: column;
        width: 20rem;
        padding-right: 1rem;
        font-size: 2rem;
        text-align: center;
    }
        #search {
        
        }
        #words {
            flex: 1;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    #content {
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size: 5rem;
        text-align: center;
    }
        #title {
            padding-top: 1rem;
        }
        #main {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
            #word {
                font-size: 15rem;
            }
            #word-reading {
                padding-top: 1rem;
            }
        #kanjis {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
            .kanji {
                flex-grow: 1;
            }
                .readings {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    color: #888;
                }
                    .onyomi {
                        width: 100%;
                    }
                    .kunyomi {
                        width: 100%;
                    }